@import "tailwindcss";
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-logo {
  position: relative;
  width: fit-content;
}

.main-logo::before {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
}

.main-logo::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 28px;
  background-color: white;
}
/* Global Scrollbar Customization */

/* Works on most modern browsers */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: black transparent; /* Thumb and Track */
}

/* Webkit browsers (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: black; /* Invisible track */
}

/* Scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #0a2506; /* Black scrollbar */
  border-radius: 30px; /* Rounded edges */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; /* Slightly lighter on hover */
}

@layer utilities {
  @keyframes borderMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}

/* 
.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
